# Ignore configuration files that may contain sensitive information.
blocks/sites/*/settings.local.php
ctools/sites/*/settings.local.php

# Ignore paths that contain user-generated content.
blocks/sites/*/files
blocks/sites/*/private
ctools/sites/*/files
ctools/sites/*/private

# Ignore local build.properties, specific for each environnement
build.properties
build

