# Ignore configuration files that may contain sensitive information.
drupal7-demo/sites/*/settings.local.php

# Ignore paths that contain user-generated content.
drupal7-demo/sites/*/files
drupal7-demo/sites/*/private

# Ignore local build.properties, specific for each environnement
build.properties
build

